# Directories #
/build/
/bin/
target/
pdf/
WebContent/

# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear
*.db

######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# IntelliJ
######################

*.iml
.idea/

######################
# Eclipse
######################

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# include some jar for openfire plugins #

!openfire/custom-plugins/messageinterceptor/lib/*.jar
/sonarqube.sh

openfire/Openfire-**
openfire/openfire**.tar.gz

.flattened-pom.xml